<div class="flex flex-row bg-secondary-lighter h-24 p-4 items-center justify-between">
    <a routerLink="/daily-updates" ><p class="text-white text-4xl font-bold"> BidWatch </p></a>

    <div class="flex flex-row" *ngIf="isLoggedIn">
        <button class="btn btn-secondary mr-6" (click)="onDailyUpdatesClick()">Daily Updates</button>
        <button class="btn btn-secondary mr-6" (click)="onAddResourceClick()">Add Resource </button>
        <button class="btn btn-secondary" (click)="onLogoutClick()" >Logout </button>
    </div>
</div>