<div class="container flex flex-col mx-auto items-center">

    <div class="flex flex-col rounded-lg border bg-primary-lighter p-4 items-center mt-20" style="width: 40%;">

        <p class="font-bold text-secondary text-2xl mb-6"> Sign In </p>
        
        <form [formGroup]="loginForm" (ngSubmit)="onLoginClick()" class="w-full flex-col flex items-center">

            <div class="form-group w-full">
                <label>Username*</label>
                <input class="form-input" type="text" formControlName="username">
                <div class="form-errors" *ngIf="submitted && loginForm.controls['username'].errors">
                   <p>Please provide a username</p> 
                </div>
            </div>

            <div class="form-group mb-4 w-full">
                <label>Password*</label>
                <input class="form-input" type="password" formControlName="password">
                <div class="form-errors" *ngIf="submitted && loginForm.controls['password'].errors">
                   <p>Please provide a password</p> 
                </div>
            </div>

            <div class="flex flex-col bg-red-300 text-red-500 mb-3 w-full rounded-md p-3" *ngIf="submitted && hasError">
                <p>{{ errorMsg }}</p>
            </div>

            <button type="submit" class="btn btn-primary w-full font-bold text-xl"> Login </button>
        </form>

    </div>

</div>