.btn{
    @apply rounded-full px-4 shadow-lg h-10;

    &:hover{
        @apply cursor-pointer shadow-none;
    }
}

.nav-link{
    @apply text-primary text-xl font-bold shadow-md;

    &:hover{
        @apply text-primary-darker shadow-none;
    }
}
.btn-primary{
    @apply bg-secondary text-white;
}

.btn-secondary{
    @apply bg-tertiary text-white;
}

.btn-success{
    @apply bg-greenish text-white;
}

.btn-danger{
    @apply bg-red-500 rounded-sm;
}

.btn-disabled{
    @apply bg-gray-500 rounded-full text-white;

    &:hover{
        @apply cursor-default;
    }
}

.link{
    @apply underline text-blue-500;

    &:hover{
        @apply no-underline text-purple-500;
    }
}