.hint-text{
    @apply text-gray-600 text-sm text-left;
}

.form-group{
    @apply flex flex-col justify-evenly;
}

.form-errors{
    @apply text-red-600 text-sm text-left flex flex-col;
}

.form-input{
    @apply h-10 p-3 border rounded-md;
}   

.form-input:focus{
    @apply outline-none shadow-outline border-blue-300;
}

.event-form-container{
    @apply mb-4 border rounded-lg p-5 shadow-lg bg-primary-lighter flex flex-col items-center;
}

.form-field-container{
    @apply border rounded-lg p-5 shadow-md flex flex-col bg-primary mb-4;
}

.attribute-form-container{
    @apply rounded-lg p-5 shadow-lg flex flex-col mb-4 bg-primary-alternate;
}
.select-input{
    @apply mr-5 w-32 px-2 rounded-sm border;

    &:hover{
        @apply shadow-outline;
    }

    &:focus{
        @apply border-blue-300;
    }
}