<div class="container mx-auto flex flex-col mt-4 mb-10" *ngIf="!isLoading">
    <p class="text-2xl text-center self-center mb-3 text-greenish font-bold"> All Data items  </p>

    <p class="text-xl"><span class="font-bold">Name:-</span>  {{ resourceDetails.name }}</p>
    <p class="text-xl mb-5"><span class="font-bold">URL:- </span> <a class="link" href="{{ resourceDetails.url }}">{{ resourceDetails.url }}</a></p>


    <div class="flex flex-row self-center justify-evenly mt-5 mb-5 w-full" >
        <button class="btn btn-primary" (click)="getPreviousPage()" [ngClass]="{'btn-disabled': currentPage === 1}" [disabled]="currentPage === 1"> Previous  </button>
        <div class="flex flex-row text-xl w-56 justify-evenly">
            <input id="pageSelector" [value]="currentPage" type="number" class="form-input w-24 mr-2">
            <p> of </p>
            <p>{{ totalPages }}</p>
            <button class="btn btn-primary" (click)="goToSelectedPageClick()">Go</button>
        </div>
        <button class="btn btn-primary" (click)="getNextPage()" [ngClass]="{'btn-disabled': currentPage === totalPages}" [disabled]="currentPage === totalPages">Next</button>
    </div>

    <app-view-resource-data [isPreview]="false" [resource-data]="resourceData" [dateArray]="datesArray"></app-view-resource-data>

    <div class="flex flex-row self-center justify-evenly mt-5 w-full" >
        <button class="btn btn-primary" (click)="getPreviousPage()" [ngClass]="{'btn-disabled': currentPage === 1}" [disabled]="currentPage === 1"> Previous  </button>
        <div class="flex flex-row text-xl w-56 justify-evenly">
            <input id="pageSelector" [value]="currentPage" type="number" class="form-input w-24 mr-2">
            <p> of </p>
            <p>{{ totalPages }}</p>
            <button class="btn btn-primary" (click)="goToSelectedPageClick()">Go</button>
        </div>
        <button class="btn btn-primary" (click)="getNextPage()" [ngClass]="{'btn-disabled': currentPage === totalPages}" [disabled]="currentPage === totalPages">Next</button>
    </div>

    <p class="text-red-600" *ngIf="pageOutOfLimitError"> Page no out of limit. Enter valid page no.</p>

</div>

