<div class="flex flex-col p-4 container mx-auto mb-32" *ngIf="!isSaving">
    <div class="flex flex-col items-center justify-center mt-5">
        <h3 class="text-4xl font-bold text-secondary"> Add New Resource </h3>
    </div>

   <form [formGroup]="resourceForm"  (ngSubmit)="onSubmitButtonClick()" class="flex flex-col">
        <!------------------------------------RESOURCE DATA------------------------------------------------------->
        <div class="grid grid-cols-2 gap-10 row-gap-5 rounded-lg shadow-lg p-5 bg-tertiary-lighter mt-5">
            <h4 class="text-xl text-center col-span-2 font-bold"> Resource Details </h4>
            <div class="form-group">
                <label>Resource Name*</label>
                <input type="text" formControlName="name" class="form-input">
                <p class="hint-text"> Appropriate name for resource </p>
                <div class="form-errors" *ngIf="submitted && resourceForm.controls['name'].errors">
                    <p> Please provide an appropriate name to the resource. </p>
                </div>
            </div>
            <div class="form-group">
                <label>Resource URL*</label>
                <input formControlName="url" type="text" class="form-input">
                <p class="hint-text"> URL for the resource </p>
                <div class="form-errors" *ngIf="submitted && resourceForm.controls['url'].errors">
                    <p> Please provide a URL for the resource.</p>
                </div>
            </div>
            <div class="form-group">
                <label>Container path</label>
                <input formControlName="container_path" type="text" class="form-input">
                <p class="hint-text"> Use only when extra data is being selected and you want to narrow your scraping area. If attribute path contains containerpath by default error is thrown. </p>
            </div>
            <div class="form-group">
                <label>Next Page Button Path</label>
                <input formControlName="next_page_path" type="text" class="form-input">
                <p class="hint-text"> Path to the next page button. Only enter this if you have to monitor multiple pages.</p>
            </div>
            <div class="form-group">
                <label>Run on</label>
                <input formControlName="run_on" type="text" class="form-input">
            </div>
        </div>
        <!-----------------------------------EVENTS----------------------------------------------->
        <div class="flex flex-col p-4 shadow-lg rounded-lg mt-4 items-center justify-evenly">
            <h4 class="text-xl text-center font-bold"> Events </h4>
            <p class="hint-text underline"> Events are actions that you need to perform to get to the page containing the required data. Such as filling forms and clicking buttons etc.</p>
            <p class="hint-text underline"> Some form fields like radio button and checkboxes can be filled using the click event. </p>
            
            <div class="grid grid-cols-2 gap-5 row-gap-5 mt-5 w-full">
                <div *ngFor="let event of events.controls; let index = index;">
                    <div class="flex flex-col">
                        
                        <ng-container *ngTemplateOutlet="setEventTemplate(event); context:{ form_group: event, index: index }">
    
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="flex flex-row justify-evenly mt-5">
                <label class="mr-5">Select type of event to add</label>
                <select id="eventSelector" class="select-input">
                    <option> --- </option>
                    <option *ngFor="let event_type of eventTypes" [value]="event_type"> 
                        {{ event_type }}
                    </option>
                </select>
                <button class="btn btn-primary" type="button" (click)="addEvent()" [disabled]="isLoading" [ngClass]="{'btn-disabled h-10': isLoading }"> Add </button>
            </div>
        </div>

        <!--------------------------------ATTRIBUTES----------------------------------------------------->

        <div class="flex flex-col p-4 shadow-lg rounded-lg mt-4 items-center justify-evenly">
            <h4 class="text-xl text-center font-bold"> Attributes </h4>
            <p class="hint-text underline"> Attributes of the resource data we are trying to monitor. Like Link, Tender no, Deadline date etc.</p>


            <div class="grid grid-cols-2 gap-5 row-gap-5 mt-5 w-full">
                <div *ngFor="let attribute of attributes.controls; let index = index">
                    <div class="flex flex-col">
                        <ng-container *ngTemplateOutlet="attributeRef; context:{ form_group: attribute, index: index}"></ng-container>
                    </div>

                </div>
            </div>

            <button type="button" class="btn btn-primary mt-3" (click)="addAttribute()" [disabled]="isLoading" [ngClass]="{'btn-disabled h-10': isLoading }"> Add Attribute </button>

        </div>

        <!--------------------------------------NON FIELD ERRORS-------------------------------------------------->
        <div class="flex flex-col bg-red-400 text-red-700 text-lg p-5 mt-5" *ngIf="submitted && (attributeMissingError || formFieldMissingError)">
            <p *ngIf="attributeMissingError">Form Error:- There must at least be one attribute. Please add an attribute.</p>
            <p *ngIf="formFieldMissingError">No Fields Error:- A form event does not contain any form fields. All form events must atleast contain one field.</p>
        </div>

        <div class="flex flex-col bg-red-400 text-red-700 text-lg p-5 mt-5" *ngIf="serverError">
            <p>{{ serverErrorMsg | json }}</p>
        </div>

        <button type="submit" class="w-full btn btn-primary mt-5"  [disabled]="isLoading" [ngClass]="{'btn-disabled h-10': isLoading }"> Preview Resource </button>

   </form>

   <div class="flex flex-col p-3 items-center" *ngIf="isLoading">
    <div class="loader" >Loading...</div>
    <p class="text-center text-primary font-bold"> Please wait. This could take several minutes depending on the number of events and the amount of data.</p>
   </div>

   <app-view-resource-data [resource-data]="resourceData" [isPreview]="true" *ngIf="isDataReceived" class="mt-8"></app-view-resource-data>


</div>

<div class="flex flex-col p-3 items-center" *ngIf="isSaving">
    <div class="loader" >Loading...</div>
    <p class="text-center text-primary font-bold"> Please wait. This could take several minutes depending on the number of events and the amount of data.</p>
   </div>


<div class="flex flex-col fixed bottom-0 shadow-2xl p-3 bg-white items-center border w-full" *ngIf="isDataReceived">
    <button class="btn btn-success w-full mb-2" style="width: 50%;" type="button" (click)="onSaveResourceClick()"> Save Resource </button>
    <p class="hint-text mb-2"> Saving the resource will add it to the monitor list and the data will be monitored daily for updates.</p>
    <p class="hint-text">NOTE:- Once the attributes have been set for this resource they cant be edited, appended or removed for a resource.</p>
</div>


<!---------------------------------------- EVENT TEMPLATES ------------------------------------------------>
<ng-template #clickEvent let-form_group='form_group' let-i='index'>
    <div [formGroup]="form_group" class="event-form-container">
        <div class="flex flex-row justify-between w-full">
            <p class="text-lg font-bold"> Event {{ i + 1 }}</p>
            <button class="btn btn-danger"  [disabled]="isLoading" [ngClass]="{'btn-disabled h-10': isLoading }" (click)="deleteEvent(i)"><fa-icon [icon]="deleteIcon" size="xs"></fa-icon></button>
        </div>
        <p class="text-lg"> Click Event </p>
        <div class="form-group w-full">
            <label> Click Element Path* </label>
            <input formControlName="button_path" type="text" class="form-input">
            <div class="hint-text">
                The path of the element to click.
            </div>
            <div class="form-errors" *ngIf="submitted && form_group.controls['button_path'].errors">
                <p>Please provide the path of the element to click.</p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #formEvent let-form_group='form_group' let-i='index'>
    <div [formGroup]="form_group" class="event-form-container">
        <div class="flex flex-row justify-between w-full">
            <p class="text-center text-lg font-bold"> Event {{ i + 1 }}</p>
            <button class="btn btn-danger" (click)="deleteEvent(i)"  [disabled]="isLoading" [ngClass]="{'btn-disabled h-10': isLoading }"><fa-icon [icon]="deleteIcon" size="xs"></fa-icon></button>
        </div>
        <p class="text-lg"> Form Event </p>
        <div class="form-group w-full">
            <label> Form Submit Button Path </label>
            <input formControlName="submit_button_path" type="text" class="form-input">
            <div class="hint-text">
                The path of the button to submit a form if it exists. NOTE:- Some forms do not have submit buttons.
            </div>
        </div>

        <div class="flex flex-col w-full">

            <div *ngFor="let formField of getFormFields(i).controls; let field_index = index">
                <ng-container *ngTemplateOutlet="setFormFieldTemplate(formField);context:{ field_group: formField, field_index: field_index, event_index: i };">
    
                </ng-container>

            </div>
        </div>

        <div class="flex flex-row justify-evenly mt-3">
            <p class="mr-2"> Add form fields </p>
            <select id="formFieldSelector{{ i }}" class="select-input" >
                <option> ---- </option>
                <option *ngFor="let formFieldType of formFieldTypes">{{ formFieldType }}</option>
            </select>
            <button type="button" class="btn btn-secondary"  [disabled]="isLoading" [ngClass]="{'btn-disabled h-10': isLoading }" (click)="addFormField(i)"> Add </button>
        </div>
    </div>
</ng-template>


<!--------------------------FORM FIELD TEMPLATES------------------------------------------------------>

<ng-template #textField let-form_group='field_group' let-i='field_index' let-event_index='event_index'>
    <div [formGroup]="form_group" class="mt-2 form-field-container">
        <div class="flex flex-row justify-between w-full">
            <p class="font-bold"> Text Field </p>
            <button class="btn btn-danger h-6"  [disabled]="isLoading" [ngClass]="{'btn-disabled h-6': isLoading }" (click)="deleteFormField(i, event_index)"><fa-icon [icon]="minusIcon" size="xs"></fa-icon></button>
        </div>
        <div class="form-group">
            <label> Form Field Path* </label>
            <input type="text" formControlName="path" class="form-input"> 
            <div class="hint-text">
                The path of the form field.
            </div>
            <div class="form-errors" *ngIf="submitted && form_group.controls['path'].errors">
                <p>Please provide the path of the element to click.</p>
            </div>
        </div>

        <div class="form-group">
            <label> Form Field Value* </label>
            <input type="text" formControlName="value" class="form-input"> 
            <div class="hint-text">
                The value of the text field.
            </div>
            <div class="form-errors" *ngIf="submitted && form_group.controls['value'].errors">
                <p>Please provide a value for the text field.</p>
            </div>
        </div>
    </div>

</ng-template>


<ng-template #selectField let-form_group='field_group' let-i='field_index' let-event_index='event_index'>
    <div [formGroup]="form_group" class="mt-2 form-field-container">
        <div class="flex flex-row justify-between w-full">
            <p class="font-bold"> Select Field </p>
            <button class="btn btn-danger h-6"  [disabled]="isLoading" [ngClass]="{'btn-disabled h-6': isLoading }" (click)="deleteFormField(i, event_index)"><fa-icon [icon]="minusIcon" size="xs"></fa-icon></button>
        </div>
        <div class="form-group">
            <label> Form Field Path* </label>
            <input type="text" formControlName="path" class="form-input"> 
            <div class="hint-text">
                The path of the form field.
            </div>
            <div class="form-errors" *ngIf="submitted && form_group.controls['path'].errors">
                <p>Please provide the path of the element to click.</p>
            </div>
        </div>

        <div class="form-group">
            <label> Form Field Value* </label>
            <input type="text" formControlName="value" class="form-input"> 
            <div class="hint-text">
                The value of the option to select.
                NOTE:- Value is not the visible text. Inspect select element with dev tools to get the value.
            </div>
            <div class="form-errors" *ngIf="submitted && form_group.controls['value'].errors">
                <p>Please provide a value for the select field.</p>
            </div>
        </div>
    </div>

</ng-template>


<ng-template #multiTextField let-form_group='field_group' let-i='field_index' let-event_index='event_index'>
    <div [formGroup]="form_group" class="mt-2 form-field-container">
        <div class="flex flex-row justify-between w-full">
            <p class="font-bold"> Multi Text Field </p>
            <button class="btn btn-danger h-6"  [disabled]="isLoading" [ngClass]="{'btn-disabled h-6': isLoading }" (click)="deleteFormField(i, event_index)"><fa-icon [icon]="minusIcon" size="xs"></fa-icon></button>
        </div>
        <div class="form-group">
            <label> Form Field Path* </label>
            <input type="text" formControlName="path" class="form-input"> 
            <div class="hint-text">
                The path of the form field.
            </div>
            <div class="form-errors" *ngIf="submitted && form_group.controls['path'].errors">
                <p>Please provide the path of the element to click.</p>
            </div>
        </div>
        <div class="form-group" >
            <label> Form Field Value* </label>
            <input type="text" formControlName="value" class="form-input"> 
            <div class="hint-text">
                Enter values seperated by commas. 
            </div>
            <div class="form-errors" *ngIf="submitted && form_group.controls['value'].errors">
                <p>Please provide a value for the text field.</p>
            </div>
        </div>
    </div>
</ng-template>

<!----------------------------------ATTRIBUTE TEMPLATE------------------------------------------->

<ng-template #attributeRef let-form_group="form_group" let-i="index">
    <div [formGroup]="form_group" class="mt-2 attribute-form-container">
        <div class="flex flex-row w-full justify-between">
            <p class="text-center font-bold text-lg"> Attribute {{ i + 1 }} </p>
            <button class="btn btn-danger"  [disabled]="isLoading" [ngClass]="{'btn-disabled h-10': isLoading }" (click)="deleteAttribute(i)"><fa-icon [icon]="deleteIcon" size="xs"></fa-icon></button>
        </div>
        

        <div class="form-group">
            <label> Attribute Name* </label>
            <input type="text" formControlName="name" class="form-input">
            <div class="hint-text">
                Appropriate Name for attribute.
            </div>
            <div class="form-errors" *ngIf="submitted && form_group.controls['name'].errors">
                <p>Please provide a value for the text field.</p>
            </div>
        </div>

        <div class="form-group">
            <label> Attribute Path* </label>
            <input type="text" formControlName="path" class="form-input">
            <div class="hint-text">
                Path for attribute.
            </div>
            <div class="form-errors" *ngIf="submitted && form_group.controls['path'].errors">
                <p>Please provide a value for the text field.</p>
            </div>
        </div>

        <div class="form-group">
            <label> Is Link* </label>
            <input type="checkbox" formControlName="is_link">
            <div class="hint-text">
                Check if this attribute is a link.
            </div>
        </div>
    </div>
</ng-template>

