<div class="flex flex-col justify-evenly">
    <p class="mb-3 text-2xl text-center self-center font-bold text-greenish">{{ isPreview? 'Data Preview' : 'Data' }}</p>
    <div class="hint-text mb-3" *ngIf="isPreview"> This is the data preview. If this is the desired data then save the data other wise tweak the configurations to get the desired data.</div>
    <div class="hint-text mb-3" *ngIf="isPreview"> If your data spans multiple pages only maximum of 2 pages will be displayed in the preview.</div>

    <table class="table-auto border border-primary-darker shadow-lg rounded-md">
        <thead>
            <tr>
                <th class="p-3 border" *ngFor="let attribute of resourceData.attributes">{{ attribute.name }}</th>
                <th class="p-3 border text-green-500 font-bold flex flex-col" *ngIf="!isPreview"> <p>Date Added</p> <p class="text-xs">* Date Scraped</p> </th>
            </tr>
        </thead>

        <tbody *ngFor="let page of resourceData.dataset.pages; let page_index=index;" class="mb-6">
            <tr *ngIf="isPreview">
                <td class="border text-lg font-bold p-3"> Page {{ page_index + 1 }} </td>
            </tr>
            <tr *ngFor="let row of page.rows; let i = index;">
                <td *ngFor="let data of row.data" class="border p-3">
                    <a *ngIf="data.is_link()" href="{{ data.link }}" class="link"> {{ data.value }}</a>
                    <p *ngIf="!data.is_link()">{{ data.value }}</p>
                </td>
                <td class="border p-3 text-green-500" *ngIf="!isPreview"> {{ dateArray[i] }} </td>
            </tr>
        </tbody>
    </table>
</div>