<div class="container mx-auto flex flex-col items-center mt-5 text-lg" *ngIf="!isLoading">
    <h3 class="text-3xl text-greenish font-bold text-center mb-5">Updates for Today </h3>

    <div *ngIf="hasError" class="flex flex-col bg-red-300 text-red-600 p-4 rounded-lg shadow-lg">
        <p>{{ errorMsg | json }}</p>
    </div>

    <div class="resource-summary divide-y mb-4 justify-items-start" *ngFor="let resource of resourceSummaries;" style="width: 75%;">
        <div class="flex flex-row w-full justify-between py-3">
            <p><span class="font-bold">Name:-</span> {{ resource.name }}</p>
            <div class="flex flex-row">
                <button (click)="onViewAllItemsClick(resource.pk)" class="btn rounded-md btn-secondary mr-3" type="button"><fa-icon [icon]="viewIcon" size="xs"></fa-icon></button>
                <button (click)="onDeleteResourceClick(resource)" class="btn rounded-md btn-danger mr-3" type="button"><fa-icon [icon]="deleteIcon" size="xs"></fa-icon></button>
            </div>
        </div>
        <p class="py-3"> <span class="font-bold">URL:-  </span> <a class="link" href="{{resource.url}}">{{ resource.url }}</a> </p>

        <div class="flex flex-row justify-between py-3 text-xl">
            <p [className]="resource.values_count > 0? 'text-red-600': 'text-gray-600'"> {{ resource.values_count }} new items.</p>
            <button class="btn btn-primary" (click)="onViewNewItemsClick(resource.pk)" *ngIf="resource.values_count > 0"> View new items</button>
        </div>
    </div>
</div>

<div class="flex flex-col p-3 items-center" *ngIf="isLoading">
    <div class="loader" >Loading...</div>
</div>

<div class="flex flex-col fixed bottom-0 shadow-xl rounded-lg border p-5 bg-white self-center items-center" style="width: 25%; left:40%;" *ngIf="confirmDelete">
    <p class="font-bold text-secondary text-xl mb-20 text-center">Are you sure you want to delete <span class="underline">{{ deletionContender.name }}</span>?</p>
    <div class="flex flex-row justify-evenly w-full mb-4">
        <button class="btn btn-primary" style="width: 40%;" (click)="onDeletionNoClick()">No</button>
        <button class="btn btn-secondary" style="width: 40%;" (click)="onDeletionYesClick()">Yes</button>
    </div>
</div>